html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  color: #000000;
  background-color: #fff;
}

.container {
  max-width: 475px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 945px;
    padding: 0 30px;
  }
}

.container--reletive {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container--about {
    width: 475px;
  }
}

@media screen and (min-width: 768px) {
  .container--contacts {
    width: 400px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.section:nth-child(2n) {
  background: #f6f6f6;
}

.section__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section__title:nth-child(2n) {
    margin-bottom: 30px;
  }
}

.current {
  color: #090909;
}

#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  z-index: 10; /* Make sure it does not overlap */
  background-color: transparent; /* Set a background color */
  border: none;
}
@media screen and (min-width: 768px) {
  #scrollToTopBtn {
    right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.hero {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 60px 0;
  }
}

.hero__box {
  display: inline-block;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero__title {
  position: relative;
  font-weight: 700;
  font-size: 47px;
  line-height: 58px;
  margin-bottom: 25px;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 0;
  }
}

.hero__text {
  color: #090909;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__button:hover {
  fill: var(--hover-text-color);
}
.menu__button .icon__close {
  display: none;
}
.menu__button.is-open .icon__close {
  display: block;
}
.menu__button.is-open .icon__menu {
  display: none;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #828282;
}
@media screen and (min-width: 768px) {
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-90deg) translate(25%, 150%);
            transform: rotate(-90deg) translate(25%, 150%);
  }
}

.lang__item:not(:last-child) {
  border-right: 2px solid #090909;
}

.lang__link {
  padding: 0 5px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding: 90px 29px;
    text-align: right;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9;
  }
}
.menu.is-open {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #828282;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item:hover, .menu__item:focus {
  color: #2c2c2c;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media screen and (min-width: 768px) {
  .menu__item {
    padding: 30px 0;
    font-size: 18px;
    line-height: 1.2;
  }
}

.menu__item:first-child {
  color: #090909;
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 35px;
  }
}

.about__text:not(:last-child) {
  margin-bottom: 50px;
}

.skills__text {
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .programs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .programs__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.programs__icon {
  margin-bottom: 25px;
}

.programs__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #828282;
  margin-bottom: 40px;
}

.progams__star-grey {
  fill: #e5e5e5;
}

.progams__star:not(:last-child) {
  margin-right: 10px;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.portfolio__picture {
  display: block;
}

.project__picture img {
  margin-left: auto;
  margin-right: auto;
}

.project__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item.project:hover .project__overlay, .portfolio__item.project:focus .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.project__text {
  font-size: 18px;
  margin-bottom: 40px;
}

.project__view,
.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50px;
  outline: none;
}

.project__view {
  height: 42px;
  background-color: #fff;
  font-weight: 700;
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__view:hover, .project__view:focus {
  -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.project__link {
  margin-bottom: 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .project__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .project__text {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .project__view {
    margin-bottom: 15px;
  }
  .project__link {
    margin-bottom: 10px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.slider-arrow-prev,
.slider-arrow-next {
  display: none;
  position: absolute;
  top: 45%;
  width: 31px;
  height: 31px;
  border: 0.5px solid black;
  border-radius: 50%;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .slider-arrow-prev,
.slider-arrow-next {
    display: block;
  }
}

.slider-arrow-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 1rem;
}

.slider-arrow-next {
  right: 1rem;
}

.container--contacts {
  position: relative;
  padding-bottom: 30px;
}

.contacts__text {
  margin-bottom: 40px;
  color: #090909;
}

.button {
  min-width: 100%;
  height: 42px;
  background-color: #090909;
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  -webkit-box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 250px;
    padding: 10px 30px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #090909;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.signature {
  color: #828282;
}

.copy {
  position: absolute;
  font-size: 16px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}/*# sourceMappingURL=main.css.map */