html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  background-color: #fff;
}

.container {
  max-width: 475px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 945px;
    padding: 0 30px;
  }
}

.container--reletive {
  position: relative;
}

@media screen and (min-width: 768px) {
  .container--contacts {
    width: 400px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section.section--about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section:nth-child(2n) {
  background: -webkit-gradient(linear, left top, right top, from(#f6f6f6), to(#e5e5e5));
  background: linear-gradient(90deg, #f6f6f6, #e5e5e5);
}
@media screen and (min-width: 768px) {
  .section:nth-child(2n) {
    background: linear-gradient(160deg, #fff, #e5e5e5);
  }
}

.section__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section__title:nth-child(2n) {
    margin-bottom: 30px;
  }
}

.current {
  color: #090909;
}

.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #f72359;
  min-width: 100%;
  min-height: 42px;
  padding: 1em 2em;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  margin-bottom: 50px;
  -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button span {
  position: relative;
  pointer-events: none;
}
.button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s ease, height 0.2s ease;
  transition: width 0.2s ease, height 0.2s ease;
}
.button:hover::before {
  --size: 400px;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 20px 50px;
  }
}

#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  z-index: 10; /* Make sure it does not overlap */
  background-color: transparent; /* Set a background color */
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #scrollToTopBtn {
    right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 30px 0;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.hero {
  padding: 10px 0;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 60px 0;
  }
}

.hero__box {
  display: inline-block;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .hero__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero__title {
  position: relative;
  font-weight: 700;
  font-size: 47px;
  line-height: 58px;
  margin-bottom: 25px;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 0;
  }
}

.hero__text {
  color: #090909;
}

.lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #828282;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-90deg) translate(25%, 150%);
            transform: rotate(-90deg) translate(25%, 150%);
  }
}

.lang__item:not(:last-child) {
  border-right: 2px solid #090909;
}

.lang__link {
  padding: 0 5px;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lang__link:hover, .lang__link:focus {
  color: #2c2c2c;
}

.text__bold {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding: 120px 29px 90px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms;
    z-index: 9;
  }
}
.menu.is-open {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .menu__box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item:hover, .menu__item:focus {
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .menu__item {
    font-size: 18px;
    line-height: 1.2;
  }
}

.menu__item:first-child {
  color: #090909;
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 35px;
  }
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__button:hover {
  fill: var(--hover-text-color);
}
.menu__button .icon__close {
  display: none;
}
.menu__button.is-open .icon__close {
  display: block;
}
.menu__button.is-open .icon__menu {
  display: none;
}

.hover-3 {
  --b: 0.1em;
  /* the thickness of the line */
  --c: #f72359;
  /* the color */
  color: #828282;
  padding-block: var(--b);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--c)), color-stop(0, #000)) 0% calc(100% - var(--_p, 0%))/100% 200%, -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--c))) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.hover-3:hover,
.hover-3:focus {
  --_p: 100%;
  --_s: 0.3s;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  max-width: 415px;
}

.about__picture {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.skills__text {
  margin-bottom: 70px;
}

.programs {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .programs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .programs__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.programs__icon {
  margin-bottom: 25px;
}

.programs__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #828282;
}

.libs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .libs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.libs__item,
.libs__item svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  position: relative;
  color: #fff;
}

.portfolio__picture {
  display: block;
}

.project__picture img {
  margin-left: auto;
  margin-right: auto;
}

.project__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item.project:hover .project__overlay, .portfolio__item.project:focus .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.project__text {
  font-size: 18px;
  margin-bottom: 40px;
}

.project__view,
.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  outline: none;
}

.project__view {
  display: inline-block;
  padding: 12px 36px;
  color: #090909;
  text-transform: uppercase;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
  outline: none;
  z-index: 1;
}
.project__view:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: -2;
}
.project__view:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.project__view:hover {
  color: #fff;
}
.project__view:hover:before {
  width: 100%;
}

.project__link {
  margin-bottom: 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .project__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .project__text {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .project__view {
    margin-bottom: 15px;
  }
  .project__link {
    margin-bottom: 10px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .swiper-wrapper {
    padding-bottom: 120px;
  }
}

.swiper-pagination {
  width: auto;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet {
  background-color: #090909;
  scale: 1.2;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.slider-arrow {
  display: none;
}
@media screen and (min-width: 768px) {
  .slider-arrow {
    display: block;
    position: absolute;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 45px;
    height: 50px;
    z-index: 10;
    color: #f6f6f6;
    fill: #f6f6f6;
    background-color: #090909;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .slider-arrow:hover, .slider-arrow:focus {
    background-color: #f6f6f6;
    color: #090909;
    fill: #090909;
  }
}

.slider-arrow-next {
  padding-left: 20px;
  right: 30%;
}
.slider-arrow-next svg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.slider-arrow-prev {
  padding-right: 20px;
  left: 30%;
}

.contacts__text {
  margin-bottom: 40px;
  color: #090909;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #090909;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.signature {
  color: #828282;
}

.copy {
  font-size: 14px;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */