.contacts__text {
  margin-bottom: 40px;

  color: $color_text-second;
}

.social {
  display: flex;
  justify-content: space-around;

  margin-bottom: 50px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: $color_text-second;
  transform: scale(1) rotate(0deg);

  transition: transform 300ms $cubic;

  &:hover,
  &:focus {
    transform: scale(1.1) rotate(360deg);
  }
}

.signature {
  color: $color_text-third;
}
