.menu {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding: 120px 29px 90px;

    text-align: right;

    background-color: rgba(255, 255, 255, 0.8);

    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms $cubic, visibility 500ms;

    z-index: 9;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }
}

.menu__box {
  @media screen and (max-width: 767px) {
    display: inline-flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__item {
  display: inline-block;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;

  transition: all 300ms $cubic;

  &:hover,
  &:focus {
    color: $color_hover;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.menu__item:first-child {
  color: $color_text-second;
}

.menu__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
  }
}

.menu__button {
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  z-index: 10;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    fill: var(--hover-text-color);
  }

  .icon__close {
    display: none;
  }

  &.is-open .icon__close {
    display: block;
  }

  &.is-open .icon__menu {
    display: none;
  }
}

.hover-3 {
  --b: 0.1em;
  /* the thickness of the line */
  --c: #f72359;
  /* the color */
  color: $color_text-third;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.hover-3:hover {
  --_p: 100%;
  --_s: 0.3s;
}
