.menu {
  @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding: 90px 29px;

    text-align: right;

    background-color: $color_bg-primary;

    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms $cubic;

    z-index: 9;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__item {
  display: block;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;

  color: $color_text-third;

  transform: scale(1);

  transition: color 300ms $cubic, transform 300ms $cubic;

  &:hover,
  &:focus {
    color: $color_hover;
    transform: scale(0.9);
  }

  @media screen and (min-width: 768px) {
    padding: 30px 0;

    font-size: 18px;
    line-height: 1.2;
  }
}

.menu__item:first-child {
  color: $color_text-second;
}

.menu__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
  }
}
