.skills__text {
  margin-bottom: 70px;
}

.programs {
	margin-bottom: 80px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
		// margin-bottom: 50px;
  }
}

.programs__item:not(:last-child) {
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.programs__icon {
  margin-bottom: 25px;
}

.programs__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: $color_text-third;
}

.libs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.libs__item,
.libs__item svg {
	display: flex;
	align-items: center;
	justify-content: center;
}