html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $font;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;

  color: $color_text-first;
  background-color: $color_bg-primary;
}

.container {
  max-width: 475px;

  margin: 0 auto;
  padding: 0 10px;

  @media screen and (min-width: 768px) {
    max-width: 945px;
    padding: 0 30px;
  }
}

.container--reletive {
  position: relative;
}

.container--contacts {
  @media screen and (min-width: 768px) {
    width: 400px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    &.section--about {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &:nth-child(2n) {
    background: linear-gradient(90deg, #f6f6f6, #e5e5e5);
		@media screen and (min-width: 768px) {
				background: linear-gradient(160deg, #fff, #e5e5e5);
			}
  }
}

.section__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.25;

  margin-bottom: 50px;

  &:nth-child(2n) {
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.current {
  color: $color_text-second;
}

.button {
  position: relative;
  appearance: none;
  background: #f72359;
  min-width: 100%;
  min-height: 42px;
  padding: 1em 2em;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 50px;
  margin-bottom: 50px;
  transition: box-shadow 300ms $cubic;

  span {
    position: relative;
    pointer-events: none;
  }

  &::before {
    --size: 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  &:hover::before {
    --size: 400px;
  }
  @media screen and (min-width: 768px) {
    padding: 20px 50px;
  }
}
