$font: "Roboto", sans-serif;

$color_text-first: #000000;
$color_text-second: #090909;
$color_text-third: #828282;

$color_bg-primary: #fff;
$color_bg-secondary: #f6f6f6;

$color_star-secondary: #e5e5e5;
$color_hover: #2c2c2c;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
